<tr data-link="<%= part_path(part) %>">
	<td><%= part.id %></td>
	<td><%= link_to part.user.email, part.user %></td>
	<td><%= part.name %></td>
	<td><%= part.modifications %></td>
	<td><%= time_ago_in_words(part.created_at) %></td>
	<td><%= link_to 'View', part %></td>
</tr>