<!-- <div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Viewing Compatible Part</h1>
		<h1 class="red-page-heading"><%= @part.part_number %></h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="ninja-heading">Manufacturer</div>
			<div class="ninja-outline part-less-padding"><%= @part.manufacturer %></div>
		</div>
		<br>
		<div class="row">
			<div class="ninja-heading">Description</div>
			<div class="ninja-outline"><%= @part.description %></div>
		</div>
		<br>
		<div class="row">
			<div class="ninja-heading">Part Number</div>
			<div class="ninja-modifications"><%= @part.part_number %></div>
		</div>
		<div class="row">
			<div class="ninja-heading">Part Number</div>
			<div class="ninja-modifications"><%= @part.part_number %></div>
		</div>
		<div class="row">
			<div class="ninja-heading">Fits OEM Vehicles</div>
			<div class="ninja-modifications"><% @part.vehicles.each do |f| %> <p><%= f.make %></p> <% end %></div>
		</div>
		<% if @part.steps %>
			<div class="row">
				<br>
				<div class="ninja-heading">Steps Required (<%= @part.steps.count %>)</div>
				<div class="header-border"></div>
				<%= render @part.steps %>
			</div>
		<% end %>
	</div>
</div>
 -->
<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Viewing Compatible Part</h1>
		<h1 class="red-page-heading"><%= @part.manufacturer %> <%= @part.description %></h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-10 col-md-offset-1">	
		<div class="ninja-panel pad-20">	
			<div class="row">
				<div class="col-md-4"><div class="form-header">Manufacturer:</div> <%= @part.manufacturer %></div>
				<div class="col-md-4"><div class="form-header">Description:</div> <%= @part.description %></div>
				<div class="col-md-4"><div class="form-header">Part Number:</div> <%= @part.part_number %></div>
			</div>
			<% if @part.vehicles %>
				<div class="row mrg-top-20">
					<div class="col-md-12">		
						<div class="well dark-well">
							<div class="row">
								<h4 class="text-center mrg-btm-10">This part was designed for the following models:</h2>
							</div>
							<% @part.oemfitments.each do |oemfitment| %>
								<%= link_to oemfitment.vehicle do %>
									<div class="">	
										<%= oemfitment.vehicle.year %> <%= oemfitment.vehicle.make %> <%=oemfitment.vehicle.model %>
								<% end %>
										<%= link_to oemfitment.user.username, oemfitment.user, class: "floatright" %>
									</div>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
			<h6 class="mrg-btm-0">Was this part designed for another vehicle or model?</h6>
			<%= form_tag fitment_part_path do %>
				<%= number_field(:vehicle, :year, class: 'dark-input', placeholder: ' Year') %>
				<%= text_field(:vehicle, :make, class: 'dark-input', placeholder: ' Make') %>
				<%= text_field(:vehicle, :model, class: 'dark-input', placeholder: ' Model') %>
				<%= submit_tag "Add Vehicle", class: 'form-button btn btn-default'  %>
			<% end %>
		</div>
	</div>
</div>

	