<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Viewing Compatible Part</h1>
		<h1 class="red-page-heading"><%= @part.name %></h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="ninja-heading">The Compatibilies</div>
			<div class="ninja-outline part-less-padding">2006 Yamaha YZ250</div>
		</div>
		<br>
		<div class="row">
			<div class="ninja-heading">Comments</div>
			<div class="ninja-outline"><%= @part.comment %></div>
		</div>
		<br>
		<div class="row">
			<div class="ninja-heading">Modifications required?</div>
			<div class="ninja-modifications"><%= @part.modifications %></div>
		</div>
		<% if @part.modifications %>
			<div class="row">
				<br>
				<div class="ninja-heading">Steps Required (<%= @part.steps.count %>)</div>
				<div class="header-border"></div>
				<%= render @part.steps %>
			</div>
		<% end %>
	</div>
</div>