<!-- <div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Viewing Compatible Part</h1>
		<h1 class="red-page-heading"><%= @part.part_number %></h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="ninja-heading">Manufacturer</div>
			<div class="ninja-outline part-less-padding"><%= @part.manufacturer %></div>
		</div>
		<br>
		<div class="row">
			<div class="ninja-heading">Description</div>
			<div class="ninja-outline"><%= @part.description %></div>
		</div>
		<br>
		<div class="row">
			<div class="ninja-heading">Part Number</div>
			<div class="ninja-modifications"><%= @part.part_number %></div>
		</div>
		<div class="row">
			<div class="ninja-heading">Part Number</div>
			<div class="ninja-modifications"><%= @part.part_number %></div>
		</div>
		<div class="row">
			<div class="ninja-heading">Fits OEM Vehicles</div>
			<div class="ninja-modifications"><% @part.vehicles.each do |f| %> <p><%= f.make %></p> <% end %></div>
		</div>
		<% if @part.steps %>
			<div class="row">
				<br>
				<div class="ninja-heading">Steps Required (<%= @part.steps.count %>)</div>
				<div class="header-border"></div>
				<%= render @part.steps %>
			</div>
		<% end %>
	</div>
</div>
 -->
<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">Viewing Compatible Part</h1>
		<h1 class="red-page-heading"><%= @part.part_number %></h1>
		<div class="header-border"></div>
	</div>
	<div class="col-md-10 col-md-offset-1">	
		<div class="ninja-panel pad-20">	
			<div class="row">
				<div class="col-md-4"><div class="form-header">Manufacturer:</div> <%= @part.manufacturer %></div>
				<div class="col-md-4"><div class="form-header">Description:</div> <%= @part.description %></div>
				<div class="col-md-4"><div class="form-header">Part Number:</div> <%= @part.part_number %></div>
			</div>
		</div>
	</div>
	<% if @part.vehicles %>
	<div class="col-md-10 col-md-offset-1">	
		<div class="red-page-heading mrg-top-20">	
			<div class="row">
				<h2 class="text-center">This part fits the following models:</h2>
			</div>
		</div>
		<% @part.vehicles.each do |vehicle| %>
			<%= link_to vehicle do %>
				<div class="ninja-panel pad-20 mrg-top-20 white-page-heading vehicle-box">	
					<%= vehicle.year %> <%= vehicle.make %> <%=vehicle.model %>
				</div>
			<% end %>
		<% end %>
	</div>
	<% end %>
</div>
