<div class="content">
	<div class="col-md-12">
		<h1 class="white-page-heading">You haven't signed in yet</h1>
		<h1 class="red-page-heading">SIGN in!</h1>
		<div class="header-border"></div>
	</div>
	<div id="login-widget" class="col-xs-12 col-sm-6  col-md-4 col-sm-offset-3 col-md-offset-4">
		<div class="panel ninja-panel" >
			<div class="panel-heading text-center">
	          <h5 class="text-uppercase mrg-btm-0"><strong>Login to your account</strong></h5>
	        </div>
	        <div class="panel-body">
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="form-inputs">
			  	<div class="input-group">
			    	<span class="input-group-addon dark-input"><i class="fa fa-lg fa-user"></i></span><%= f.input :login, required: true, autofocus: true, label: false, placeholder: 'Email or Username', input_html: { class: 'form-control input-lg dark-input'  } %>
			    </div>	    
		        <div class="input-group">
		             <span class="input-group-addon dark-input"><i class="fa fa-lg fa-lock"></i></span>
		             <%= f.input :password, required: false, label: false, placeholder: 'Password', input_html: { class: 'form-control input-lg dark-input'} %>
	            </div>
			    <div class="form-header">Remember me?</div><div class="pull-right text-right"><%= f.check_box :remember_me, :data => { :size=>'mini', 'on-text'=>'Yes', 'off-text'=>'No' }, as: :boolean if devise_mapping.rememberable? %></div>
			  </div>
			</div>
			<div class="panel-footer text-center">
	          <div class="login-btn">
			    <%= f.button :submit, "Sign In", class:"btn-lg btn-block mrg-btm-10"  %>	  
			<% end %>
					<small><%= link_to "Forgot your password?", new_password_path(resource_name) %></small>
	          </div>
	            <%= link_to '<i class="fa fa-lg fa-cogs"></i> Do you need to register?'.html_safe, new_registration_path(resource_name), class:"register" %> 
	        
			</div>
		</div>
	</div>     
</div>       