<!-- <tr>
	<td><%= discovery.id %></td>
	<td><%= link_to discovery.user.username, discovery.user %></td>
	<td><%= discovery.oem.year %> <%= discovery.oem.make %> <%= discovery.oem.model %></td>
	<td><%= discovery.compatible.year %> <%= discovery.compatible.make %> <%= discovery.compatible.model %></td>
	<td><%= discovery.replaces %></td>
	<td><%= link_to 'View', discovery, class: "btn btn-default" %></td>
	<td><%= link_to 'Delete', discovery, method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-warning" %></td>
</tr>
 -->

	<div class="panel panel-default ninja-panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= discovery.id %>"><%= discovery.oem.year %> <%= discovery.oem.make %> <%= discovery.oem.model %> <i class="fa fa-arrow-left arrow-color"></i> <i><%= discovery.replaces %> </i><i class="fa fa-arrow-right arrow-color"></i> <%= discovery.compatible.year %> <%= discovery.compatible.make %> <%= discovery.compatible.model %> <span class="pull-right">45</span> </a>
            </h4>
        </div>
        <div id="collapse-<%= discovery.id %>" class="panel-collapse collapse">
            <div class="panel-body">
                <h5 class="pull-left text-uppercase mrg-auto-10">Discovered by: <%= link_to discovery.user.username, discovery.user %></h5>	 <div class="pull-right"><%= link_to 'View', discovery, class: "btn btn-default" %> <%= link_to 'Delete', discovery, method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger" %></div>
            </div>
        </div>
    </div>
