<%= simple_form_for @discovery do |f| %>
<div class="ninja-panel pad-20">	
		<h2 class="text-center">Describe the discovery <a tabindex="0" class="btn btn-lg info-popup" role="button" data-toggle="popover" data-trigger="focus" title="What is being replaced?" data-content="Who originally made the discovery? What discovery is it? What model vehicle did it belong to?"><span class="badge"><i class="fa fa-question"></span></i></a></h2>
		<% if @discovery.errors.any? %>
			<div id="errors">
				<h2><%= pluralize(@discovery.errors.count, "error") %> prevented this discovery from saving: </h2>
				<ul>
					<% @discovery.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
						<% end %>
				</ul>
			</div>
		<% end %>
		<div class="row">	
			<div class="form-inputs">
				<div class="col-md-6"><p>Part</p>
					<%= text_field(:part, :manufacturer, class: 'input-sm dark-input', placeholder: ' Manufacturer') %>
					<%= text_field(:part, :name, class: 'input-sm dark-input', placeholder: ' Name') %>
    				<div class="form-header">Are modifications required?</div><%= f.check_box :modifications, label: false, as: :boolean, :data => { :size=>'small', 'on-text'=>'Yes', 'off-text'=>'No' } %>
    				</div>
				<div class="col-md-6"><p>Oem Vehicle</p>
					<%= number_field(:oem_vehicle, :year, class: 'input-sm dark-input', placeholder: ' Year') %>
					<%= text_field(:oem_vehicle, :make, class: 'input-sm dark-input', placeholder: ' Make') %>
					<%= text_field(:oem_vehicle, :model, class: 'input-sm dark-input', placeholder: ' Model') %>
				</div>
				<div class="col-md-6"><p>Compatible Vehicle</p>
					<%= number_field(:compatible_vehicle, :year, class: 'input-sm dark-input', placeholder: ' Year') %>
					<%= text_field(:compatible_vehicle, :make, class: 'input-sm dark-input', placeholder: ' Make') %>
					<%= text_field(:compatible_vehicle, :model, class: 'input-sm dark-input', placeholder: ' Model') %>
				</div>
				<div class="col-lg-12"><div class="form-header">Comment</div><%= f.input :comment, required: false, label: false, placeholder: 'Do you have any noteworthy comments to add?', input_html: { class: 'form-control input-lg dark-input'  } %><div class="form-header">Replaces</div><%= f.input :replaces, required: false, label: false, placeholder: 'What parts are compatible? i.e. Wheel Bearings, chain guide, clutch plates', input_html: { class: 'form-control input-lg dark-input'  } %></div>
			</div>
		</div>
</div>
<div class="ninja-panel pad-20 mrg-top-20">
	<h3>Steps </h3>
		<div id="steps">
			<%= f.simple_fields_for(:steps) do |step| %>
				<%= render 'step_fields', :f => step %>
			<% end %>
				<div class="links">
					<%= link_to_add_association 'Add Step', f, :steps %>
				</div>
		</div>
</div>
<div class="col-md-4 col-md-offset-4">
	<div class="ninja-panel mrg-top-20 pad-20 text-center">
    <%= f.button :submit, "Create Compatibility" %>
	</div>
</div>
<% end %>

