<tr data-link="<%= vehicle_path(vehicle) %>">
	<td><%= vehicle.id %></td>
	<td><%= vehicle.year %></td>
	<td><%= vehicle.make %></td>
	<td><%= vehicle.model %></td>
	<td><%= link_to 'View', vehicle, class: "btn btn-default" %></td>
	<td><%= link_to 'Delete', vehicle, method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-warning" %></td>
</tr>

<!-- <div class="ninja-panel pad-20 mrg-top-20">
	<p><%= vehicle.id %> | <%= vehicle.year %> | <%= vehicle.make %> | <%= vehicle.model %> | <%= link_to 'View', vehicle, class: "btn btn-default" %> |  <%= link_to 'Delete', vehicle, method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-warning" %></p>

</div> -->